html, body
{
	font-family: 'Open Sans', sans-serif;
}



.container-login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-login {
    width: 350px;
}



.container-signin {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-form-signin {
    width: 350px;
}

